<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta id="viewport" name="viewport" content="width=320; initial-scale=1.0; maximum-scale=1.0; user-scalable=0" />
	<meta name="apple-touch-fullscreen" content="YES" />
	<title>GalileoAlby.com - architecture books</title>
	<link rel="apple-touch-icon" href="/images/iui/iui-logo-touch-icon.png" />
	<%= stylesheet_link_tag 'iui' %>
	<style type="text/css">
	ul li a em {
		color: gray;
	}
	ul li a.blue {
		color: blue;
	}
	.box  {
	    position: relative;
	    -webkit-border-radius: 0;
	    text-align: left;
		padding: 10px;
		}
	.hl {
		background-color: #ccccff;
		}
	</style>
	<%= javascript_include_tag 'iui', 'prototype', 'application' %>
</head>
<body>
	<div class="toolbar">
		<h1 id="pageTitle"></h1>
		<a id="backButton" class="button" href="#"></a>
        <a class="button" href="#searchForm">Search</a>
	</div>
	<%= yield %>
	<!-- form id="searchForm" class="dialog" action="/books/search" method="POST" -->
	<%= form_tag '/books/search', :method => :post, :class=>'dialog', :id =>'searchForm'  %>
	    <fieldset>
	        <h1>Book Search</h1>
	        <a class="button leftButton" type="cancel">Cancel</a>
	        <a class="button blueButton" type="submit">Search</a>
	        <label>Parole chiave:</label>
			<%= text_field :search, :q %>
	    </fieldset>
	</form>
</body>
</html>